@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  .basliq{
    font-family: 'Yeseva One';
    color: antiquewhite;
  }
  .blog{
    font-family: 'Yeseva One';
    color: rgb(0, 0, 0);
  }
  .serh{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  
  header {
    background-color: rgb(117, 73, 73);
    color: white;
    padding: 20px;
    text-align: center;
  }
  span{
    background-color: rgb(25, 133, 248);
    color: white;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    animation-name: senior;
    animation-duration: 10s;
  }
  @keyframes senior {
    from {background-color: red;}
    to {background-color: rgb(0, 255, 255);}
  }
  
  header h1 {
    margin: 0;
  }
  .item{
    list-style-type: none;
    display: flex;
  }
  .home{
    position: relative;
  }
  .home:hover{
    background-color: blue;
    bottom: 5px;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: white;
    
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  .background-image {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }
  
  .background-image img {
    width: 100%;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .post-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .post {
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .post h4 {
    margin: 0;
  }
  
  .post p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .post a {
    display: flex;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /*Qumru*/

  
  .top-image {
    margin-bottom: 40px;
  }
  
  .north {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s all;
  }
  .container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .title {
    color: white;
    text-align: center;
    font-size: 50px;
  }
  .container:hover .north {
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
  }
  .container:hover .north:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
  }
  
  .north:hover + .modal,
  .modal:hover {
    display: block;
    text-align: center;
  }
  
  .img-wrapper {
    margin: 24px auto;
  }
  
  .img-wrapper img {
    object-fit: cover;
    width: 600px;
    height: 300px;
  }
  
  .modal-heading {
    margin-bottom: 48px;
  }

    /*Shahsuvar*/

    .basliqsah{
      text-align: center;
  }
  .naxch{
    text-align: center;
    color: black;
  }
  
 .foto{
      width: 270px;
      height: 250px;
      border-radius: 5%;
      border: 3px solid black;
  }
  
  .esas{
      display: flex;
       justify-content: center;
       margin: 5px;
       border: 2px solid green;
       border-radius: 5%;
  }
  
  .sekil{
      margin-right: 10px;
      width: 300px;
      height: 400px;
      border-radius: 5%;  
  }
  
  .metn{
      margin-top: 60px;
      width: 300px;
      height: 240px;
      background-color: rgb(220, 185, 238);
      border-radius: 5%;
      padding: 10px;
      text-align: center;
  }
  .metn:hover{
      background-color: rgb(137, 219, 42);
      font-style: italic;
      font-weight: bold;
  
      
      
  }
  .esas:hover{
      border-radius: 10%;
      border-style: dashed;
      margin-left: 100px;
      margin-right: 100px;
  }